

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 20px;
 padding-right: 20px;
 


}
.navbar-links{
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}
a{
    text-decoration: none;
    color: inherit;
}

.hero{
    height: 450px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/wanderlust-kannada-images-main/images/hero.png');
    color: #ffff;
    text-align: center;
    padding: 100px ;
}

.hero-title{
    font-size: 55px;
}

.hero-lead{
    font-size: 25px;
}
.hero-btn{
    background: #ffff;
    color: #000000;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.about{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
.section-title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.section-lead{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
}

.about-layout{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

}

.about-text{
    line-height: 1.8;
}
.value{
    background: #dcffa0;
    padding:25px;
}
.value-flex{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:space-between;
}

.destinations{
    padding: 35px;
}
.destinations-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 65px;
    margin-top: 50px;
    text-align: center;
}
.grid-items img{
    width: 100%;
    border: 5px solid #dcffa0;
    border-radius: 15px;
}
.contact{
    background: #c0d6ff;
    padding: 35px;
}

.contact-card{
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 650px;
    max-width: 100%;
    margin: auto;
}

label{
    display: block;
    margin-bottom: 10px;
}
input,textarea{
    width: 100%;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
}
.btn-primary{
    background-color: #2a74ff;
    border: none;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;

}
.text-center{
    text-align: center;
}
footer{
    background: #000000;
    padding: 30px;
    color: #ffffff;
    text-align: center;
}
@media screen and (max-width:760px){
    .about-layout{
        grid-template-columns: 1fr;
    }
    .value-flex{
        flex-direction: column;
    }
    .destinations-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
    